<% provide(:title, @usuario.nombre) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1> <%= gravatar_for @usuario %>
			<%= @usuario.nombre %> </h1>

		</section>
		<section>
			<% @usuario ||= current_user %>
			<div class="stats">
				<a href="<%= following_usuario_path(@usuario) %>"> <strong id="following" class="stat"> <%= @usuario.followed_users.count %> </strong> following </a>
				<a href="<%= followers_usuario_path(@usuario) %>"> <strong id="followers" class="stat"> <%= @usuario.followers.count %> </strong> followers </a>
			</div>
		</section>
	</aside>
	<div class="span8">
		<%= form_for(current_user.relationships.build(followed_id: @usuario.id),remote: true) do |f| %>
		<div>
			<%= f.hidden_field :followed_id %>
		</div>
		<%= f.submit "Follow", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<div class="span8">
		<% if @usuario.miniposts.any? %>
		<h3>Microposts (<%= @usuario.miniposts.count %>)</h3>
		<ol class="microposts">
			<%= will_paginate @miniposts %>
			<ol>
				<% @usuario.miniposts.each do |minipost| %>
				<li>
					<span class="content"><%= minipost.content %></span>
					<span class="timestamp"> Posted <%= time_ago_in_words(minipost.created_at) %> ago. </span>
					<% if current_user?(minipost.usuario) %>
					<%= link_to "delete", minipost, method: :delete,
					data: { confirm: "You sure?" },
					title: minipost.content %>
					<% end %>
				</li>
				<%end%>
			</ol>
		</ol>

		<%= will_paginate @miniposts %>
		<% end %>
	</div>
</div>
</div>
